%h2= t(".edit_info")
= form_for @info, url: update_path, method: :put do |f|
  .row
    = f.label :name
    = f.text_field :name
  .row
    = f.label :stationary_qth
    = f.text_field :stationary_qth
  .row
    = f.label :stationary_qth_locator
    = f.text_field :stationary_qth_locator
  .row
    = f.label :current_qth
    = f.text_field :current_qth
  .row
    = f.label :current_qth_locator
    = f.text_field :current_qth_locator
  .row
    = f.hidden_field :remote_user_id, value: @user.id
    = f.submit t(:submit)
= link_to t(:back), root_path