%h2= t(".new_info")
= form_for @info, url: create_path do |f|
  .row
    = f.label :name
    = f.text_field :name
  .row
    = f.label :stationary_qth
    = f.text_field :stationary_qth
  .row
    = f.label :stationary_qth_locator
    = f.text_field :stationary_qth_locator
  .row
    = f.label :current_qth
    = f.text_field :current_qth
  .row
    = f.label :current_qth_locator
    = f.text_field :current_qth_locator
  .row
    = f.hidden_field :remote_user_id, @user.id
    = f.submit t(".add_to_database")
= link_to t(:back), root_path