%h2= t(".query_results_for", query: params[:callsign_query])
- if @users.empty?
  %p.empty= t(".no_results")
- else
  %table
    %thead
      %tr
        %th= t(".callsign")
        %th= t(".name")
        %th= t(".stationary_qth")
        %th= t(".stationary_qth_locator")
        %th= t(".current_qth")
        %th= t(".current_qth_locator")
    %tbody
      - @users.each do |u|
        %tr
          %td= u.callsign
          %td= u.callsign_info.name
          %td= u.callsign_info.stationary_qth
          %td= u.callsign_info.stationary_qth_locator
          %td= (u.callsign_info.current_qth.nil? || u.callsign_info.current_qth.empty?) && (u.callsign_info.current_qth_locator.nil? || u.callsign_info.current_qth_locator.empty?) ? u.callsign_info.stationary_qth : u.callsign_info.current_qth
          %td= (u.callsign_info.current_qth.nil? || u.callsign_info.current_qth.empty?) && (u.callsign_info.current_qth_locator.nil? || u.callsign_info.current_qth_locator.empty?) ? u.callsign_info.stationary_qth_locator : u.callsign_info.current_qth_locator
= link_to t(:back), root_path