%h2= t(".your_info")
%dl
  %dt= t(".callsign") + ":"
  %dd= @user.callsign
  %dt= t(".name") + ":"
  %dd= @user.callsign_info.name
  %dt= t(".stationary_qth") + ":"
  %dd= @user.callsign_info.stationary_qth
  %dt= t(".stationary_qth_locator") + ":"
  %dd= @user.callsign_info.stationary_qth_locator
  %dt= t(".current_qth") + ":"
  %dd= @user.callsign_info.current_qth
  %dt= t(".current_qth_locator") + ":"
  %dd= @user.callsign_info.current_qth_locator
  %dt= t(".shown_current_qth") + ":"
  %dd= (@user.callsign_info.current_qth.nil? || @user.callsign_info.current_qth.empty?) && (@user.callsign_info.current_qth_locator.nil? || @user.callsign_info.current_qth_locator.empty?) ? @user.callsign_info.stationary_qth : @user.callsign_info.current_qth
  %dt= t(".shown_current_qth_locator") + ":"
  %dd= (@user.callsign_info.current_qth.nil? || @user.callsign_info.current_qth.empty?) && (@user.callsign_info.current_qth_locator.nil? || @user.callsign_info.current_qth_locator.empty?) ? @user.callsign_info.stationary_qth_locator : @user.callsign_info.current_qth_locator
= link_to t(:back), root_path